<%- include('../partials/admin/header');-%>
<section class="content-main">
    <h2 class="content-title">New Category</h2>
    <div class="row">
        <div class="card ">
            <form action="/admin/addCategory" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>1. General info</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Category title</label>
                                <input type="text" name="name" placeholder="Type here" class="form-control">
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>2. Photo</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Image</label>
                                <input class="form-control" name="image" type="file" >
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- .row end// -->
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</section> <!-- content-main end// -->
<%- include('../partials/admin/footer');-%>