<%- include('./partials/user/header');-%>
  <section>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <div class="error-container">
          <h1>Page Not Found.</h1>
          <img src="/images/404rerror.jpg" alt="Error Illustration">
          <h2 style="text-align: center;"><a href="/">Go Home</a></h2>
        </div>
      </div>
</section>      
  <%- include('./partials/user/footer');-%>