<%- include('./partials/user/header');-%>
  <section>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
      <div class="error-container">
        <h1>Oops! Something went wrong.</h1>
        <img src="images/servererror.jpg" alt="Error Illustration">
        <p>We're sorry, but there was a server error.</p>
        <p><a href="/">Go Home</a></p>
      </div>
    </div>
  </section>
  <%- include('./partials/user/footer');-%>