<%- include('../partials/user/header');-%>
    <section>
        <div class="login-register-area pb-100 ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-bs-toggle="tab" href="#lg1">
                                    <h4> Register </h4>
                                </a>
                            </div>
                            <div>
                                <% if (errorMessage) { %>
                                  <p class="error-message" style="color: red;font-size: medium;"><%= errorMessage %></p>
                                <% } %>
                              </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="/register" method="post">
                                                <input type="text" name="name" placeholder="Name">
                                                <input type="text" name="email" placeholder="Email">
                                                <input type="text" name="mobile" placeholder="Phone Number">
                                                <input type="password" name="password" placeholder="Password">
                                                <div class="forgot-otp-links"
                                                    style="display: flex; flex-direction: column;">
                                                    <a href="/login" style="align-self: flex-end;">Login</a>
                                                </div>
                                                <div class="button-box btn-hover">
                                                    <button type="submit">Register</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/user/footer');-%>