<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, TechSpire.
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/admin-styles/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/admin-styles/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/admin-styles/js/vendors/select2.min.js"></script>
<script src="/admin-styles/js/vendors/perfect-scrollbar.js"></script>
<script src="/admin-styles/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/admin-styles/js/vendors/chart.js"></script>

<!-- Main Script -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
<script src="/admin-styles/js/api.js" type="text/javascript"></script>
<script src="/admin-styles/js/main.js" type="text/javascript"></script>
<script src="/admin-styles/js/custom-chart.js" type="text/javascript"></script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>